name: CI

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v1

      - name: Install purescript-psa
        run: npm install -g purescript-psa

      - uses: thomashoneyman/setup-purescript@v1
        with:
          purescript: "0.13.8"

      - name: Cache PureScript dependencies
        uses: actions/cache@v2
        with:
          key: ${{ runner.os }}-spago-${{ hashFiles('**/*.dhall') }}
          path: |
            .spago
            output

      - run: npm run -s build
      - run: npm run -s test
      - run: npm run -s example-all
